:root {

	/* main site palette */
	--ColourPrimary: #222222;
	--ColourSecondary: #dddddd;
	--ColourTertiary: #fafafa;
	--ColourQuaternary: #eeeeee;

	/* pairing for light background dark text */
	--ColourBackgroundPrimary: var(--ColourTertiary);
	--ColourTextPrimary: var(--ColourPrimary);

	/* pairing for dark background light text */
	--ColourBackgroundSecondary: var(--ColourPrimary);
	--ColourTextSecondary: var(--ColourTertiary);

	/* various typed elements that really should not change often. these
	will be things like social media colours and that. */

	--ColourAdultButton: #c25684;
	--ColourAdultText: #ffe6ea;
	--ColourAdultHoverButton: #cf6694;
	--ColourAdultHoverText: #ffe6ea;

	--ColourRssButton: #e9830f;
	--ColourRssText: #fff5e9;
	--ColourRssHoverButton: #eb9027;
	--ColourRssHoverText: #fff5e9;

	--ColourTwitterButton: #1DA1F2;
	--ColourTwitterText: #eee;
	--ColourTwitterHoverButton: #36abf3;
	--ColourTwitterHoverText: #eee;

	--ColourGithubButton: #222;
	--ColourGithubText: #eee;
	--ColourGithubHoverButton: rgb(49, 49, 49);
	--ColourGithubHoverText: #eee;

}