.ce-block__content,
.ce-toolbar__content {
	max-width: initial;
}

.ce-block {
	background: #e0e0e0;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-bottom: 24px;
	padding: 10px;
}

.ce-block--focused {
	border-color: #444;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
	background: #0002;
	border-radius: 5px;
	height: 24px;
	width: 24px;
}

.codex-editor__redactor {
	padding-bottom: 24px !important;
}

.codex-editor--narrow .ce-block--focused {
	margin-right: inherit;
	padding-right: inherit;
}

.ce-header {
	margin-bottom: 0px;
	padding: 0px;
}

#EditorJS .Editor {
	height: 0px;
	overflow: hidden;
}

#EditorJS .Editor.Ready {
	height: initial;
	overflow: initial;
}
