contact_email: 'YourContact@EmailAddress'

defaults:
  distinguished_name:
      country: 'YourProjectCountry'
      locality: 'YourProjectCity'
      organization_name: 'YourProjectName'
  solver: 'http'

certificates:
  - domain: 'YourDomainNameWithoutSubdomainsMaybe'
    subject_alternative_names:
      - 'YourDomainNameWithWwwOrOtherSubdomainsMaybe'
    distinguished_name:
      organization_name: 'YourProjectName'
    solver:
      name: 'http-file'
      adapter: 'local'
      root: 'YourPathToYourProject/www'
    install:
      - action: 'mirror_file'
        adapter: 'local'
        root: 'YourPathToYourProject/conf/ssl'