# ignore some application paths.
/cache/
/data/
/local/
/logs/
/vendor/
/www/themes/local/
/www/upl
/www/.well-known
/prod.lock

# exclude configurations except for the example distro files.
/conf/env/dev/*
!/conf/env/dev/*.dist
/conf/env/prod/*
!/conf/env/prod/*.dist
