# ignore some application paths.
/cache/
/data/
/local/
/logs/
/vendor/
/www/themes/local/
/www/upl
/www/.well-known
/prod.lock

# ignore my actual config files while allowing the templates.
/conf/env

# ignore my ssl files
/conf/ssl/

# eof