# ignore some application paths.
/cache/
/data/
/logs/
/vendor/
/www/themes/local/
/www/upl
/www/.well-known

# ignore my actual config files while allowing the templates.
/conf/database.conf.php
/conf/private.conf.php
/conf/dev.conf.php
/conf/servers/apache24.conf
/conf/tools/acmephp.yml
/prod.lock

# ignore my ssl files
/conf/ssl/

# eof