.PostListing h3 {
	margin-bottom: 8px;
}

.PostListing h3 a {
	font-size: 0.8em;
	font-weight: bold;
}

.PostListing .Post {

}

.PostListing .Post:last-of-type {
	margin-bottom: 0px;
}

.PostListing .About {
	font-size: 0.9em;
}

.PostListing .Date,
.PostListing .Source,
.PostListing .Authour {
	font-weight: bold;
	text-transform: initial;
}

.PostListing .Post.PostFlagDraft,
.PostListing .Post.PostFlagNuked {
	opacity: 0.5;
}

.PostListing.NoBlogIcon .BlogIcon {
	display: none;
}
