
.ErrorTray .Error {
	background: #886464;
	border-top: 0px solid #5a4141;
	border-bottom: 2px solid #5a4141;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

.ErrorTray .Info {
	background: #776488;
	border-top: 0px solid #51445e;
	border-bottom: 2px solid #51445e;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

.ErrorTray .ErrorItem:first-of-type {
	border-top-width: 2px;
}
