/* this contains the promotional stripe under the page header which can be
given an image to display to art shit up.

<div class="Promo"><div>
	<section>
		<h2>Promo Title</h2>
		<p>Generic text content then goes here.</p>
	</section>
	<hr class="FloatClear" />
</div></div>
*/

.Promo {
	background-color: #111;
	background-image: url(../gfx/bg01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eee;
	margin-bottom: 32px;
}

.Promo a:link,
.Promo a:visited {
	color: #eee;
}

.Promo a:active,
.Promo a:hover {
	color: #fff;
}

.Promo h2 {
	border-bottom: 0px;
	font-weight: bold;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.Promo p {
	color: #aaa;
	font-weight: bold;
	letter-spacing: 0.10em;
	margin-bottom: 8px;
	text-transform: uppercase;
}
