
.Comments .Heading {
	margin-bottom: 0.20em;
}

.Comments blockquote {
	border-left: 4px solid var(--ColourSecondary);
	border-radius: 3px;
	font-style: italic;
	margin: 0px;
	padding: 0em 0em 0em 0.4em;
}

.CommentForm .form-control,
.CommentForm textarea,
.CommentForm .g-recaptcha {
	border: 0px;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 4px solid var(--ColourPrimary);
	border-right: 4px solid var(--ColourPrimary);
}

.CommentForm .form-control:focus,
.CommentForm textarea:focus {
	outline: none;
	box-shadow: none;
	border-color: var(--ColourTwitterButton);
}

.CommentForm .g-recaptcha {
	display: inline-block;
}

.PostCommentToggle div.fa-fw {
	position: relative;
	display: inline-block;
}

.PostCommentToggle div.fa-fw > i.fa-fw {
	position: absolute;
	top: 0px;
	left: 0px;
}

.PostCommentToggle div.fa-fw > i.fa-fw:first-of-type {
	position: relative;
}

.PostCommentToggle div.fa-fw > i.fa-fw {
	opacity: 1.0;
	transform: scaleY(0.0);
	transition: opacity 400ms, transform 400ms;
}

.PostCommentToggle.Plus div.fa-fw > i.fa-plus {
	opacity: 1.0 !important;
	transform: scaleY(1.0);
}

.PostCommentToggle.Minus div.fa-fw > i.fa-minus {
	opacity: 1.0 !important;
	transform: scaleY(1.0);
}
