
.DefocusUntilHover {
	opacity: 0.3;
	transition: opacity 0.25s;
}

.DefocusUntilHover:hover {
	opacity: 1.0;
	transition: opacity 0.25s;
}

.BlogSelectMenu {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

.BlogSelectItem {
	cursor: pointer;
	padding: 0.5em;
}

.BlogSelectItem:last-of-type {
	border-bottom: 0px;
}

.HideTheLastHr > hr:last-of-type {
	display: none;
}