/*// nether-onescript //
@date 2020-09-23 19:33:49
@files [
    "src\/main.css",
    "src\/local\/100-design-header.css",
    "src\/local\/200-blog-post.css",
    "src\/local\/200-element-post-list.css",
    "src\/local\/200-element-promo.css",
    "src\/local\/200-element-wallpaperedbox.css",
    "src\/local\/200-error-tray.css",
    "src\/local\/500-bootstrap-ext.css",
    "src\/local\/500-misc.css",
    "src\/local\/900-bootstrap-alerts.css",
    "src\/local\/900-bootstrap-breadcrumb.css",
    "src\/local\/900-bootstrap-dropdown.css",
    "src\/local\/900-bootstrap-jumbotron.css"
]
//*/

* {
	box-sizing: border-box;
}

.font-family-regular {
	font-family: 'Roboto Condensed', sans-serif;
}

.font-family-code {
	font-family: 'Share Tech Mono', monospace;
}

html,
body {
	background: #ddd;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

a:link:not(.btn),
a:visited:not(.btn) {
	border-bottom: 2px dotted #444;
	color: #444;
	text-decoration: none;
}

a:active:not(.btn),
a:hover:not(.btn) {
	color: #000;
}

.jodit_toolbar_btn a:link,
.jodit_toolbar_btn a:visited,
.jodit_toolbar_btn a:active,
.jodit_toolbar_btn a:hover {
	border-bottom: initial;
	color: initial;
	text-decoration: initial;
}

h1,
h2,
h3,
h4 {
	line-height: normal;
	margin: 0px;
	padding: 0px;
}

h2 {
	border-bottom: 1px solid #999;
	font-weight: bold;
	margin-bottom: 12px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

code,
pre {
	border: 2px solid #ddd;
	border-radius: 4px;
	color: #333;
	display: block;
	font-family: 'Share Tech Mono', monospace;
	padding: 10px;
	margin-bottom: 10px;
	white-space: pre;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

p {
	margin: 0px 0px 16px 0px;
}

p:last-child {
	margin-bottom: 0px !important;
}

button,
input,
select,
textarea {
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding: 8px 16px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	border-color: #000;
	outline: none;
	transition: border-color 1s;
}

ul
li {
	margin-bottom: 8px;
}

ul
li:last-of-type {
	margin-bottom: 0px;
}

/* the page content area where most of the generated content goes. */

body > section {
	background: #efefef;
	padding: 0px 0px 32px 0px;
}

/* the page footer which contains notices and stats. */

body > footer {
	background: #ddd;
	color: #999;
	padding: 32px 0px;
}

body > footer
a:link,
body > footer
a:visited {
	color: #999;
}

body > footer
ul {
	float: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body > footer
ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

body > footer code {
	color: #666;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

:root {
	--navheight: 0px;
}

body > header {
	background: #efefef;
}

body > header * {
	font-size: 16px;
	text-transform: uppercase;
	white-space: nowrap;
}

body > header a:link,
body > header a:visited {
	color: #000 !important;
	border: 0px !important;
}

body > header a:active,
body > header a:hover {
	color: #888 !important;
	border: 0px !important;
}

body > header > .container {
	padding-top: 12px;
	padding-bottom: 12px;
}

body > header h1 {
	font-weight: bold;
}

body > header h1 a img {
	margin-right: 3px;
	transform: rotate(0deg);
	transform-origin: 50% 70%;
	transition: transform 0.60s;
	vertical-align: initial;
}

body > header h1 a:hover img {
	transform: rotate(-360deg);
	transform-origin: 50% 70%;
	transition: transform 0.90s;
}

body > header a.MenuBtn .fa {
	margin-right: 3px;
	transform: rotate(0deg);
	transform-origin: 50% 50%;
	transition: transform 0.60s;
	vertical-align: initial;
}

body > header.Open a.MenuBtn .fa {
	transform:  rotate(450deg) scale(1.25);
	transform-origin: 50% 50%;
	transition: transform 0.60s;
}

body > header a {
	display: block;
	padding: 8px 0px;
}

@media(max-width:768px) {
	body > header nav {
		height: 0px;
		overflow: hidden;
		transition: height 0.60s;
	}

	body > header.Open nav {
		height: auto;
		height: var(--navheight);
		transition: height 0.60s;
	}

	body > header nav .col-12 {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}

	body > header nav .col-12:first-of-type {
		padding-top: 16px;
	}

	body > header nav .col-12:last-of-type {
		border: 0px;
		padding-bottom: 0px;
	}
}

.PostContent img {
	border-radius: 3px;
	max-width: 100%;
}

.PostListing h3 {
	margin-bottom: 4px;
}

.PostListing h3 a {
	border-bottom: 2px dotted #444;
	font-size: 0.8em;
	font-weight: bold;
}

.PostListing .Post {
	margin-bottom: 24px;
}

.PostListing .Post:last-of-type {
	margin-bottom: 0px;
}

.PostListing .About {
	font-size: 0.9em;
}

.PostListing .Date,
.PostListing .Source,
.PostListing .Authour {
	border-bottom: 1px dotted #444;
	font-weight: bold;
	text-transform: initial;
}

.PostListing .Post.PostFlagDraft,
.PostListing .Post.PostFlagNuked {
	opacity: 0.5;
}

/* this contains the promotional stripe under the page header which can be
given an image to display to art shit up.

<div class="Promo"><div>
	<section>
		<h2>Promo Title</h2>
		<p>Generic text content then goes here.</p>
	</section>
	<hr class="FloatClear" />
</div></div>
*/

.Promo {
	background-color: #111;
	background-image: url(../gfx/bg01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eee;
	margin-bottom: 32px;
}

.Promo a:link,
.Promo a:visited {
	color: #eee;
	border: 0px;
}

.Promo a:active,
.Promo a:hover {
	color: #fff;
}

.Promo h2 {
	border-bottom: 0px;
	font-weight: bold;
	margin-bottom: 12px;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #00000066, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Promo p {
	color: #ccc;
	font-weight: bold;
	letter-spacing: 0.10em;
	margin-bottom: 8px;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #00000066, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Promo .ImageIcon {
	box-shadow: 0px 0px 4px #00000066;
}

.WallpaperedBox {
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.WallpaperedBox.Square {
	padding-top: 100%;
}

.WallpaperedBox.Widescreen {
	padding-top: 56.25%;
}

.WallpaperedBox > a {
	position: absolute;
	top: 0px; left: 0px;

	height: 100%;
	width: 100%;
}

.ErrorTray .Error {
	background: #886464;
	border-top: 0px solid #5a4141;
	border-bottom: 2px solid #5a4141;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

.ErrorTray .Info {
	background: #776488;
	border-top: 0px solid #51445e;
	border-bottom: 2px solid #51445e;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

.ErrorTray .ErrorItem:first-of-type {
	border-top-width: 2px;
}

/* a series of bootstrapesque classes designed to blend in */

*:focus[readonly] {
	background: transparent;
	border: 0px;
}

.font-size-normal { font-size: 1.0em; }
.font-size-small { font-size: 0.90em; }
.font-size-smaller { font-size: 0.80em; }
.font-size-smallerer { font-size: 0.65em; }
.font-size-smallerest { font-size: 0.55em; }

.font-size-large { font-size: 1.10em; }
.font-size-larger { font-size: 1.20em; }
.font-size-largerer { font-size: 1.30em; }
.font-size-largerest { font-size: 1.50em; }
.font-size-most-large { font-size: 2.00em; }
.font-size-mostest-large { font-size: 3.00em; }

.font-size-zero { font-size: 0em; }
.font-size-anim { transition: font-size 0.3s; }

.letter-space-normal { letter-spacing: 0.0em; }
.letter-space-barely { letter-spacing: 0.05em; }
.letter-space-large { letter-spacing: 0.10em; }
.letter-space-larger { letter-spacing: 0.25em; }

.p-5 { padding: 2rem !important; }
.p-6 { padding: 3rem !important; }
.p-7 { padding: 4rem !important; }
.p-8 { padding: 5rem !important; }
.pt-5 { padding-top: 2rem! important; }
.pb-5 { padding-bottom: 2rem! important; }
.pt-6 { padding-top: 3rem! important; }
.pb-6 { padding-bottom: 3rem! important; }
.pt-7 { padding-top: 4rem! important; }
.pb-7 { padding-bottom: 4rem! important; }
.pt-8 { padding-top: 5rem! important; }
.pb-8 { padding-bottom: 5rem! important; }

.m-5 { margin: 2rem !important; }
.m-6 { margin: 3rem !important; }
.m-7 { margin: 4rem !important; }
.m-8 { margin: 5rem !important; }
.mt-5 { margin-top: 2rem! important; }
.mb-5 { margin-bottom: 2rem! important; }
.mt-6 { margin-top: 3rem! important; }
.mb-6 { margin-bottom: 3rem! important; }
.mt-7 { margin-top: 4rem! important; }
.mb-7 { margin-bottom: 4rem! important; }
.mt-8 { margin-top: 5rem! important; }
.mb-8 { margin-bottom: 5rem! important; }

.row.tight {
	margin-left: -0.25rem;
	margin-right: -0.25rem;
}

.row.tight > [class^="col"] {
	padding-left: .25rem;
	padding-right: .25rem;
}

.btn:focus,
select:focus {
	box-shadow: none !important;
}

.btn.disabled {
	opacity: 0.25;
}

.btn-toggle:not(.active) .btn-toggle-off {
	display: inline-block;
}

.btn-toggle:not(.active) .btn-toggle-on {
	display: none;
}

.btn-toggle .btn-toggle-off {
	display: none;
}

.btn-toggle .btn-toggle-on {
	display: inline-block;
}

.btn-adult {
	background: #c25684;
	border-color: #c25684;
	color: #ffe6ea;
}

.btn-adult:hover,
.btn-adult.active {
	background: #cf6694;
	border-color: #cf6694;
	color: #ffe6ea;
}

.text-adult {
	color: #c25684;
}

.opacity-0 {
	opacity: 0.0;
}

.opacity-25 {
	opacity: 0.25;
}

.opacity-50 {
	opacity: 0.50;
}

.opacity-75 {
	opacity: 0.75;
}

.opacity-100 {
	opacity: 1.0;
}

.fa-stack { font-size: 0.325em; }
.fa-stack i { vertical-align: middle; }

.DefocusUntilHover {
	opacity: 0.3;
	transition: opacity 0.25s;
}

.DefocusUntilHover:hover {
	opacity: 1.0;
	transition: opacity 0.25s;
}

.BlogSelectMenu {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

.BlogSelectItem {
	border-bottom: 1px solid #666;
	cursor: pointer;
	padding: 0.5em;
}

.BlogSelectItem:last-of-type {
	border-bottom: 0px;
}

.HideTheLastHr > hr:last-of-type {
	border: 0px;
}

.alert-warning {
	color: #e5d6c6;
	background-color: #c15818;
	border-color: #c15818;
}

.alert-adult {
	color: #fff;
	background: rgb(239,133,178);
	background: linear-gradient(135deg, rgba(239,133,178,1) 0%, rgba(194,86,132,1) 100%);
	border: 0px;
	font-weight: 400;
}

.alert-adult a:link,
.alert-adult a:visited,
.alert-adult a:active,
.alert-adult a:hover {
	color: #ffe6ea;
	border-bottom-color: #ffe6ea;
}

.alert-adult .btn-adult {
	background: #ffe6ea;
	border-color: #ffe6ea;
	color: #c25684;
}

.form-control:focus {
	border-color: #ccc;
	box-shadow: 0 0 0 .2rem rgba(65, 65, 65, 0.25);
}

.breadcrumb {
	background: #222;
	color: #eee;
}

.breadcrumb a:link,
.breadcrumb a:visited,
.breadcrumb .active {
	color: #eee;
}

.breadcrumb a:link,
.breadcrumb a:visited {
	border-bottom: 1px dotted #eee;
}

.dropdown-menu {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 100%);
	color: #eee;
}

/* make the default jumbotron very bold for the theme */

.jumbotron {
	background: #222;
	color: #eee;
}

.jumbotron a:link,
.jumbotron a:visited,
.jumbotron .active {
	color: #eee;
}

.jumbotron a:link,
.jumbotron a:visited {
	border-bottom: 1px dotted #eee;
}

.jumbotron hr {
	border-top-color: #eee;
}

/* provide a more muted jumbotron for the theme */

.jumbotron-secondary {
	background: #ddd;
	color: #444;
}

.jumbotron-secondary a:link,
.jumbotron-secondary a:visited,
.jumbotron-secondary .active {
	color: #444;
}

.jumbotron-secondary hr {
	border-top-color: #999;
}

