<?php

// uncomment this if you would like to see more verbosity when things go wrong.
// define('DEVMODE',TRUE);

Nether\Option::Set([

	'Atlantis.Website' => 'https://ur-domain-name',
	'Atlantis.Domain'  => 'ur-primary-domain',

	////////////////////////////////////////////////////////////////
	// Filesystem Settings /////////////////////////////////////////

	'Atlantis.File.Filesystems' => [
		'local' => new Atlantis\FileSystem\Local(
			sprintf('%s/data',ProjectRoot)
		),
		'upl' => new Atlantis\FileSystem\AwsBucket(
			'ur-aws-public-key',
			'ur-aws-private-key',
			'ur-aws-region',
			'ur-aws-bucket-name'
		)
	],
	'Atlantis.File.DefaultMount' => 'upl',

	////////////////////////////////////////////////////////////////
	// Auth API Keys ///////////////////////////////////////////////

	// set to NULL to disable these login mechanisms.

	'Atlantis.Auth.Github.ClientID'      => 'ur-client-id',
	'Atlantis.Auth.Github.ClientSecret'  => 'ur-client-secret',
	'Atlantis.Auth.Twitter.ClientID'     => 'ur-client-id',
	'Atlantis.Auth.Twitter.ClientSecret' => 'ur-client-secret',

	////////////////////////////////////////////////////////////////
	// Google reCaptcha Config /////////////////////////////////////

	// you will need to create api keys for recaptcha and put them
	// or else nobody will be able to sign up.

	// https://www.google.com/recaptcha/intro/

	'Google.ReCaptcha.Key'    => 'ur-recaptcha-public-key',
	'Google.ReCaptcha.Secret' => 'ur-recaptcha-sekret-key'
]);

