
RewriteEngine On
RewriteBase /
Options +MultiViews
MultiViewsMatch Any
php_value upload_max_filesize 8M
php_value post_max_size 9M

<IfFile !../prod.lock>
	AuthType Basic
	AuthName "TRON LIVES"
	AuthUserFile "/opt/web-dev/.htpasswd"
	Require valid-user
</IfFile>

################################################################################
################################################################################

# Force Remove WWW
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

# Force Add WWW
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/.well-known
RewriteCond %{QUERY_STRING} !http=yep
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

################################################################################
################################################################################

# Stop Pointless Template Hits
RewriteCond "%{REQUEST_FILENAME}" "\.phtml$"
RewriteRule "^" "-" [L,F]

# application router.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php [QSA,L]
