.NUI-Element-Button {
	background: var(--NUI-Element-Window-Text-Colour);
	border: 0px;
	border-radius: var(--NUI-Element-Window-Border-Radius);
	color: var(--NUI-Element-Window-Box-Colour);
	padding: 2px 8px;
}
