* {
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}

html,
body {
	background: #ddd;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited {
	color: #444;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	line-height: normal;
	margin: 0px;
	padding: 0px;
}

code {
	font-family: 'Share Tech Mono', monospace;
}

p {
	margin: 0px 0px 16px 0px;
}

p:last-child {
	margin-bottom: 0px !important;
}

button,
input,
select,
textarea {
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding: 8px 16px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	border-color: #000;
	outline: none;
	transition: border-color 1s;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/* generic modifiers for various uses */

.FloatClear { border: 0px; clear: both; margin: 0px; }
.PaddingVerticalBarely { padding-top: 8px; padding-bottom: 8px; }
.PaddingVerticalLess { padding-top: 16px; padding-bottom: 16px; }
.PaddingVerticalNormal { padding-top: 32px; padding-bottom: 32px; }
.TextAlignCenter { text-align: center; }
.WidthFull { width: 100%; }

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/* these create widgets which span the entire width of the page, but still
constrain their content to a maximum width.

<div class="Contain"><div>
	Content goes here.
</div></div>
*/

.Contain {
	width: 100%;
}

.Contain
> div {
	margin: 0px auto;
	width: 1000px;
}

/*
modifiers for the Contain class so that various stripes can protray
importantance of different kinds.
*/

.Contain.Error {
	background: #886464;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////
// page header structures ////////////////////////////////////////////////////*/

/* the page header that contains the primary navigation. */

body
> header {
	background: #efefef;
	height: 75px;
	font-size: 16px;
	line-height: 35px;
	padding: 20px;
}

body
> header h1 {
	float: left;
	font-size: 1em;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

body
> header nav ul {
	float: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body
> header nav ul li {
	display: inline-block;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	text-transform: uppercase;
}

body
> header nav ul li a:link,
body
> header nav ul li a:visited {
	color: #888;
}

/* the page content area where most of the generated content goes. */

body
> section {
	background: #efefef;
	padding: 32px 0px;
}

/* the page footer which contains notices and stats. */

body
> footer {
	background: #ddd;
	color: #999;
	padding: 32px 0px;
}

body
> footer a:link,
body
> footer a:visited {
	color: #999;
}

body
> footer ul {
	float: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body
> footer ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/*
the main element is used any time we are displaying a full post or article.
it is primarily responsible for making the text easily readable and stand out
from the various page components.
*/

main {
	font-size: 1.2em;
	letter-spacing: 0.02em;
	line-height: 1.5em;
}

main
> header > ul {
	font-size: 0.7em;
	list-style-type: none;
	margin: 0px 0px 16px 0px;
	padding: 0px;
}

main
> header > ul > li {
	margin: 0px;
	padding: 0px;
}

main
> header time {
	font-weight: bold;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

/* this contains the promotional stripe under the page header which can be
given an image to display to art shit up.

<div class="Contain Promo"><div>
	<section>
		<h2>Promo Title</h2>
		<p>Generic text content then goes here.</p>
	</section>
	<hr class="FloatClear" />
</div></div>
*/

.Promo {
	background-color: #333;
	background-image: url(gfx/bg01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.Promo
> div {
	padding: 48px 0px;
}

.Promo
section {
	float: left;
}

.Promo
section h2 {
	margin-bottom: 24px;
	letter-spacing: 0.75em;
	text-transform: uppercase;
}

.Promo
section p {
	color: #aaa;
	letter-spacing: 0.15em;
	margin-bottom: 8px;
	text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////////////////
//// Two Column Sublayout ////////////////////////////////////////////////////*/

/* this creates an area that is 1:3 in width, or a left column that is 25% and
a right column that is 75% wide. the columns can be flipped without editing the
html tree by adding the TwoColFlip modifier.

<div class="TwoCol1x3">
	<div>
		left column (25%)
	</div>
	<div>
		right column (75%)
	</div>
</div>
*/

.TwoCol1x3
> div:nth-child(1) {
	float: left;
	width: 25%;
}

.TwoCol1x3
> div:nth-child(2) {
	float: left;
	padding-left: 32px;
	width: 75%;
}

.TwoCol1x3.TwoColFlip
> div:nth-child(1) {
	float: right;
}

.TwoCol1x3.TwoColFlip
> div:nth-child(2) {
	float: left;
	padding-left: 0px;
	padding-right: 32px;
}

/*//////////////////////////////////////////////////////////////////////////////
//// TitleBox Widget /////////////////////////////////////////////////////////*/

/* this creates the normal variant of the title box suitable for most generic
text based content.

<div class="TitleBox">
	<div class="Title">
		<span>Title Box</span>
	</div>
	<div class="Box">
		Main text content.
	</div>
</div>
*/

.TitleBox {
	border: 1px solid #ccc;
	border-bottom: 0px;
}

.TitleBox:last-of-type {
	border-bottom: 1px solid #ccc;
}

.TitleBox
.Title {
	font-size: 14px;
	font-weight: bold;
	margin: -8px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
}

.TitleBox
.Title span {
	background: #eee;
	color: #888;
	padding: 0px 16px;
}

.TitleBox
.Box {
	font-size: 1em;
	padding: 6px 12px 24px 12px;
}

.TitleBox:last-of-type
.Box {
	padding: 6px 12px 12px 12px;
}

/* this creates a variant of the title box which is suited for showing a cloud
of tags that auto adjust to fill the space.

<div class="TitleBox">
	<div class="Title">
		<span>Title Box</span>
	</div>
	<ul class="Box">
		<li><a href=""></a></li>
	</ul>
</div>
*/

.TitleBox
ul.Box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0px;
	list-style-type: none;
	margin: -4px;
	overflow: hidden;
}

.TitleBox
ul.Box li {
	display: block;
	flex-grow: 1;
	margin: 4px;
	white-space: nowrap;
}

.TitleBox
ul.Box li a {
	display: block;
	border: 1px solid #ddd;
	color: #888;
	font-size: 12px;
	padding: 4px 8px;
	text-align: center;
}

.TitleBox
ul.Box li a:hover {
	background: #ccc;
	border: 1px solid #666;
	color: #666;
}

/* this creates a variant of the title box which is suited for showing info
about the content author.

<div class="TitleBox">
	<div class="Title">
		<span>Title Box</span>
	</div>
	<aside class="Box">
		<a href=""><img src="/author/photo.jpg" /></a>
		<dl>
			<dt>Author Name</dt>
			<dd>Short author biogrpahy text to display.</dd>
		</dl>
	</aside>
</div>
*/

.TitleBox
aside.Box img {
	max-width: 100%;
	margin-bottom: 16px;
}

.TitleBox
aside.Box dl,
.TitleBox
aside.Box dl dt,
.TitleBox
aside.Box dl dd {
	margin: 0px;
	padding: 0px;
}

.TitleBox
aside.Box dl dt {
	color: #888;
	font-size: 0.85em;
	font-weight: bold;
	margin-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
}

.TitleBox
aside.Box dl dd {
	color: #888;
	font-size: 0.85em;
}
