
* {
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}

body,
input, select, textarea {
	font-weight: 300;
}

html,
body {
	background: #ddd;
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited {
	color: #444;
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	line-height: normal;
	margin: 0px;
	padding: 0px;
}

code {
	font-family: 'Share Tech Mono', monospace;
}

p {
	margin: 0px 0px 16px 0px;
}

p:last-child {
	margin-bottom: 0px !important;
}

button,
input,
select,
textarea {
	background-color: #eee;
	border: 1px solid #ccc;
	font-size: 1.0em;
	letter-spacing: 0.05em;
	padding: 8px 16px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	border-color: #000;
	outline: none;
	transition: border-color 1s;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.FloatClear { border: 0px; clear: both; margin: 0px; }

.PaddingVerticalBarely { padding-top: 8px; padding-bottom: 8px; }
.PaddingVerticalLess { padding-top: 16px; padding-bottom: 16px; }
.PaddingVerticalNormal { padding-top: 32px; padding-bottom: 32px; }

.TextAlignCenter { text-align: center; }

.WidthFull { width: 100%; }

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.Contain {
	width: 100%;
}

.Contain
> div {
	margin: 0px auto;
	width: 1000px;
}

.Contain.Error {
	background: #886464;
	color: #fff;
	padding: 16px 0px;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////
// page header structures ////////////////////////////////////////////////////*/

body > header {
	background: #efefef;
	height: 75px;
	font-size: 16px;
	line-height: 35px;
	padding: 20px;
}

body > header
h1 {
	float: left;
	font-size: 1em;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

body > header
nav ul {
	float: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body > header
nav ul li {
	display: inline-block;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	text-transform: uppercase;
}

body > header
nav ul li a:link,
body > header
nav ul li a:visited {
	color: #888;
}

body > section {
	background: #efefef;
	font-size: 1.2em;
	letter-spacing: 0.02em;
	padding: 32px 0px;
}

body > footer {
	background: #ddd;
	color: #999;
	padding: 32px 0px;
}

body > footer
a:link,
body > footer
a:visited {
	color: #999;
}

body > footer
ul {
	float: right;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body > footer
ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

/*//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.Promo {
	background-color: #333;
	background-image: url(gfx/bg01.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.Promo
> div {
	padding: 48px 0px;
}

.Promo
section {
	float: left;
}

.Promo
section h2 {
	margin-bottom: 24px;
	letter-spacing: 0.75em;
	text-transform: uppercase;
}

.Promo
section p {
	color: #aaa;
	letter-spacing: 0.15em;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.Promo
aside {
	color: #aaa;
	float: right;
	text-transform: uppercase;
}



